
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GLS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<header>

  <div class="jumbotron">
    <img src="assets/Images/imgGLS.jpg"  alt="thumbnail" class="img-thumbnail"
         style="width: 150px" align="right">

    <h1> GLS </h1>

    <h5>Grow Learn Succeed </h5>
  </div>
</header>
</body>
</html>>
